



<p align="center" id="notice"><%= notice %></p>

<p>
  
</p>


<body style="background-color: #b5f7bf">

<div class="sidenav">
    
   
	
	<%@book=Book.find(@surah.book_id)%>
    <% if @book.name=="The Holy Al Quran"%>
          <h2 align="center"><%= link_to "All Surah", Book.find(@surah.book_id) %></h2>
        <%else%>
          <h2 align="center"><%= link_to "All Chapter", Book.find(@surah.book_id) %></h2>
    <%end%>


    
    <% @book.surahs.each do |surah| %>
    <%= link_to surah.surah_name, surah%>
    <% end %>
</div>


        


<div class="main">
 	  <h1 align="center"><u><%= @surah.surah_name %></u></h1>
      <h2 align="center">Bismillahir Rahmanir Rahim</h2>
      	<%@surah.ayats.each do|ayate| %>
     	<p>(<%= ayate.ayat_number%>)-- <%= ayate.ayat_text%></p>
      <%end%>

</div align="right">
   <%= link_to 'Edit', edit_surah_path(@surah) %> |
	<%= link_to 'Back', surahs_path %>
</body>


<div class="right">

 <%= form_for Ayat.new do |f| %>
      <div class="field">
        <%= f.label :book_id %>

        <%=f.hidden_field :book_id, value: Surah.find(params[:id]).book_id%>
        <%= Surah.find(params[:id]).book.name  %>
      </div>



      <div class="field">
        <%= f.label :surah_id %>
        <%=f.hidden_field :surah_id, value: params[:id]%>
        <%= Surah.find(params[:id]).surah_name  %>
         
      </div>

      <div class="field">
        <%= f.label :ayat_number %>
      
        <%= f.number_field :ayat_number, value: Surah.find(params[:id]).ayats.last.ayat_number+1 %>

      </div>

      <div class="field">
        <%= f.label :ayat_text %>
        <%= f.text_area :ayat_text %>
      </div>

      <div class="actions">
        <%= f.submit %>
      </div>
<% end %>

</div>