


<p id="notice"><%= notice %></p>
<p>
  <h1 align="center"><u><%= @book.name %></u></h1>
  
</p>


<body>

<div class="sidenav">
    <% if @book.name=="The Holy Al Quran"%>
        <h2 align="center"><%= link_to "All Surah", @book_path %></h2>
        <%else%>
        <h2 align="center"><%= link_to "Chapter", @book_path %></h2>
    <%end%>
    
    <% @book.surahs.each do |surah| %>
    <%= link_to surah.surah_name, surah%>
    <% end %>
</div>



<div class="main">
  <% @book.surahs.each do |surah| %>
            <h2 align="center">Bismillahir Rahmanir Rahim</h2>
            <h2 align="center"><%= link_to surah.surah_name, surah%></h2>
            <%surah.ayats.each do|ayate| %>
             <p>(<%= ayate.ayat_number%>)-- <%= ayate.ayat_text%></p>
             <%end%>
            
      <% end %>
 
</div>
   
</body>











 

