<%= form_for(ayat) do |f| %>
  <% if ayat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ayat.errors.count, "error") %> prohibited this ayat from being saved:</h2>

      <ul>
      <% ayat.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :book_id, id: "book" %>
    <%= collection_select(:ayat, :book_id, Book.all, :id, :name) %>
  </div>



  <div class="field">
    <%= f.label :surah_id %>
     <%= collection_select(:ayat, :surah_id, Surah.all, :id, :surah_name) %>
     
  </div>

  <div class="field">
    <%= f.label :ayat_number %>
    <%= f.number_field :ayat_number %>

  </div>

  <div class="field">
    <%= f.label :ayat_text %>
    <%= f.text_area :ayat_text %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>




<script type="text/javascript">
  $(document).ready(function() {
  $("#book").on('change', function(){
    $ajax({
      url: "populate_surah_list",
      type: "GET",
      data: {book_id: $(this).val()},
      // Callbacks that will be explained
    })
  });


  // Ajax call
success: function(data) {
  $("#surah_id").children().remove();
  // Create options and append to the list
}
// Rest of Ajax call
</script>